$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$bluegray: #17262e;
$popred: #ea0110;
$yellow: #e6ab0f;
$blue: #28669f;
$cyan: #0ccc8d;
$grey1: #f2f2f2;
$grey2: #e1e4e4;
$grey3: #cccdce;
$grey4: #8c8d8e;
$grey5: #616265;
$grey6: #212121;
$ultralight_weight: 100;
$light_weight: 200;
$semibold_weight: 600;
$extrabold_weight: 900;
@import 'fonts';
@import "location";
.progress-bar-container {
  background-color: $bluegray;
  height: 10px;
  .progress-complete {
    background-color: $popred;
    height: 10px;
  }
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

.navbar-dark {
  background-color: #353432;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
  .logo {
    margin-left: 20px;
    height: 55px;
    padding: 5px 0;
  }
  .nav {
    margin-top: 10px;
  }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.description-img {
    width: 600px;
    height: 400px;
}

.inline {
    display: inline-block;
}

.petitions .petition-wide .author, .petitions .petition-wide .supporters, .petitions .petition-wide .created {
width: 150px;
}
.xs-input {
    width: 50px;
}
.s-input {
    width: 100px;
}
.m-input {
    width: 200px;
}
.l-input {
    width: 300px;
}
.xl-input {
    width: 500px;
}
.inline {
    display:inline-block;
    margin-right: 15px;
}
.sb-margin {
    margin-bottom: 10px;
}
.container .jumbotron {
padding-left: 20px;
padding-right: 20px;
background-image: url('/images/background.jpg');
background-repeat:no-repeat;
background-size: 1500px 600px;
background-position: 0px -40px;
}
.txt-big {
height: 62px;
margin-right: 0px;
}

.what {
    width: 300px;
}
.where {
    width: 100px;
}
.when {
    width: 100px;
}
.lead {
    background: rgba(57,60,61,0.8);
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
box-shadow: 0 0 5px rgba(0,0,0,0.5);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid rgba(0,0,0,0.8);
padding: 4px;
width: 645px;
margin: 0 auto;
}

.inline {
    display: inline-block;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
