<form name="newSignature" ng-submit="create()">
  <div class="form-group">
    <input class="form-control" type="text" ng-model="signature.firstName" placeholder="First Name" required/>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="signature.lastName" placeholder="Last Name" required/>
  </div>
  <div class="form-group">
    <input class="form-control" type="email" ng-model="signature.email" placeholder="Email" required/>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="signature.address" placeholder="Street Address"/>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="signature.city" placeholder="City" required/>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="signature.state" placeholder="State" required/>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="signature.zip" placeholder="Zip Code"/>
  </div>
  <div class="form-group">
    <textarea class="form-control" ng-model="signature.comments" placeholder="Why is this important to you"></textarea>
  </div>
  <input type="submit" class="btn btn-submit"  value="Sign"/>
</form>
